/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-width: 1190px;
}
/* header */

/* Home */

#home {
  background: url("./img/bg_main.jpg") center/cover no-repeat;
  height: 100vh;
  position: relative;
}

#home .title {
  width: 1000px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#home .title h1 {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #fff;
}

#home .title p {
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* about */

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.category h2 {
  font-size: 48px;
  margin: 20px;
  color: aquamarine;
}

.card1 {
}

#about {
  position: relative;
  background: url("./img/bg_about.jfif") center/cover no-repeat;
  height: 80vh;
}

.card1 {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-60%);
  border: 1px solid #f00;
  .front {
    img {
      width: 150px;
      height: 150px;
    }
  }
  .back {
    font-size: 16px;
    color: #fff;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
}

#about .about_profile {
  margin: 0 auto;
  padding: 30px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 342px;
  height: 529px;
  margin-top: 30px;
}

#about .img_box {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

#about .img_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#about .introduction {
  width: 100%px;
  margin: 0 auto;
}

#about .desc_box1 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}

#about .desc_box1 li p:first-child {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

#about .desc_box1 li p:last-child {
  font-size: 16px;
  margin-top: 5px;
  color: #fff;
}

#about .desc_box2 {
  font-size: 16px;
  display: flex;
  padding: 0 25px;
  margin: 10px;
  gap: 10px;
  justify-content: space-between;
}

#about .desc_box2 span {
  width: 212px;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  border: 1px solid white;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgb(255 255 255 / 63%);
  padding: 5px;
  color: #fff;
}

#about .desc_box2 span:first-child {
  width: 220px;
  height: 32px;
}

#about .desc_box2 span:last-child {
  width: 30px;
  height: 32px;
}
